.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px lightslategray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  padding: 5px;
  min-width: 40%;
}

.image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.thumbnail {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background: transparent;
  margin: 20px;
}
